<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="['/users']" routerLinkActive="router-link-active"  class="navbar-brand" href="#">User</a>
    </div>
  </nav>
<div  *ngIf="selectedUser" class="container">
    <div  class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Name: {{selectedUser.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Email: {{selectedUser.email}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Phone: {{selectedUser.phone}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Website: {{selectedUser.website}}</h6>
          <h5  class="card-title">Company: {{selectedUser.company.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted"> {{selectedUser.company.catchPhrase}}</h6>




        </div>
      </div>
</div>

